*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.box_st{

    display: flex;
    justify-content: center;
    gap: 10px   ;
}

.st1, .st2, .st3{

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}

input{
    width: 160px;
}

p{
    margin: 20px;
    text-align: center;
}

.boton{

    display:flex ;
    justify-content: center;
}

#compra{
    padding: 10px 30px;
}